[Unit]
Description=Resize the root filesystem to fill partition

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/resize_toolshed
ExecStartPost=/bin/systemctl disable %n

[Install]
WantedBy=local-fs.target
